@model NZWalks.Web.Models.DTO.UpdateWalkRequest

<form asp-action="UpdateWalk">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Update Walk</h1>
        <hr />
        <input hidden asp-for="Id"/>
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="col-2">
                <label asp-for="Name" class="control-label pt-2" style="font-size:20px"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="Length" class="control-label pt-2" style="font-size:20px"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Length" class="form-control" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>

            

            <div class="col-5">
                <a asp-action="IndexWalk" asp-controller="Walk" class="btn btn-primary form-control">Back to list</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Update" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}